single_vis/
data/
classification/*log*
classification/output
classification/__pycache__
classification/train/__pycache__
classification/test/__pycache__
classification/configs/__pycache__
classification/models/__pycache__
segmentation/*log*
segmentation/output
segmentation/__pycache__
segmentation/train/__pycache__
segmentation/test/__pycache__
segmentation/configs/__pycache__
segmentation/models/__pycache__
segmentation/s3dis_configs/__pycache__
shapenetpart/*log*
shapenetpart/output
shapenetpart/__pycache__
shapenetpart/train/__pycache__
shapenetpart/test/__pycache__
shapenetpart/configs/__pycache__
shapenetpart/models/__pycache__
utils/__pycache__
custom_op/__pycache__/
data_loader/__pycache__/
